<br>
<h1>Perfil de Usuario</h1>
<br>
<br>
<body class="container">
     <div class="d-flex justify-content-center">
        
            <ul class="list-group list-group-flush lista">
            <li class="list-group-item list-group-item-secondary"><h5>Nombre : {{Nombre}}</h5></li>
            <li class="list-group-item list-group-item-secondary "><h5>Apellido: {{Apellido}}</h5></li>
            <li class="list-group-item"><h5>Email: {{Email}}</h5></li>
            <li class="list-group-item">Edad: {{Edad}}</li>
            <li class="list-group-item"><h5>Role: {{Role}}</h5></li>
            </ul>

    </div>
    <div class="d-flex justify-content-between">
    <form action="logout"  method="get" ><button class="btn btn-outline-danger" role="button"> Log Out </button></form>
            
    <form action="/products"  method="get" ><button class="btn btn-outline-primary" role="button" > Continuar</button></form>
    </div>
</body>
<br>
<br>